# main
.idea
.vscode
.env
__pycache__/
__cache__/
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
CDC.egg-info/

# extras
extras/teste.py
extras/teste2.py
extras/baixar_icons_champions.py
extras/teste3.py
extras/html_teste.html
extras/css_teste.css
extras/old/Data/Classes/__pycache__/

# CelestialCodex
modules/CelestialCodex/items/
modules/CelestialCodex/champions
modules/CelestialCodex/__pycache__/
modules/CelestialCodex/__cache__/
modules/CelestialCodex/__wiki__
modules/CelestialCodex/champions.json
modules/CelestialCodex/items.json