# main
.env
.idea
__pycache__/
__cache__/
.vscode/
.venv-cdc
env/
venv/
ENV/
env.bak/
venv.bak/

# CelestialCodex
modules/CelestialCodex/__pycache__
modules/CelestialCodex/__cache__/
modules/CelestialCodex/champions.json
modules/CelestialCodex/items.json
modules/CelestialCodex/items/
modules/CelestialCodex/champions/