body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #222;
    color: #f5f5f5;
}
.champion-icons {
    max-width: 380px;
    min-width: 380px;
    margin: 0px 40px 20px;
    border-radius: 5px;
    background-color: #333;
    outline: 1px solid #333;
    float: left;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 2px solid #333;
    padding: 5px;
    border-radius: 5px;
}

.icon-container div {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2px;
}

.icon-container img {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.icon-container span {
  display: block;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 45px;
  color: #9E9EB1;
  line-height: 14px;
}

.search-container {
    max-width: 330px;
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 5px 10px;
    border: none;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #222;
    color: white;
    border: none;
    padding-left: 25px;
    outline: none;
}

.search-icon {
  background-image: url("icons/icon-search-dark.svg");
  background-repeat: no-repeat;
}

.champion-container {
    max-width: 380px;
    min-width: 380px;
    max-height: 380px;
    margin: 0px 50px 10px 40px;
    clear: both;
    overflow: hidden;
}

.y-champion-abilities {
    display: none;
    max-width: 380px;
    min-width: 380px;
    max-height: 430px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #333;
}

.y-champion-container {
  display: none;
  justify-content: flex-start;
  padding: 5px;
  background-color: #333;
  border-radius: 5px;
  border: none;
}

.y-champion-container-img {
  flex: 0 0 auto;
  margin-right: 3px;
  max-width: 120px; /* Defina a largura desejada para a imagem */
  max-height: 120px; /* Defina a altura desejada para a imagem */
}

.y-champion-container-img img {
    border-radius: 10px;
}

.y-champion-container-stats {
  display: flex;
  left: 0;
  flex-direction: column;
  max-height: 120px; /* Defina a altura máxima desejada */
  min-width: 105px;
  /* overflow-y: auto; */
  overflow: hidden;
  margin-left: 0px;
  margin-right: 3px;
  background-color: #292929;
  border-radius: 5px;
}

.y-champion-container-second-stats {
  display: flex;
  right: 0;
  flex-direction: column;
  max-height: 120px; /* Defina a altura máxima desejada */
  min-width: 130px;
  /* overflow-y: auto; */
  overflow: hidden;
  margin-left: 0px;
  background-color: #292929;
  border-radius: 5px;
}

.champion-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Primeira coluna automática, segunda coluna preenchendo o espaço restante */
  list-style: none;
  padding: 0;
  margin: 0px;
}

.champion-container ul li {
  display: flex;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 7px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 12px;
}

.champion-container ul li img {
  margin-right: 3px;
}

.y-champion-container-stats ul li img{
    max-width: 14px;
    max-height: 14px;
    margin-left: 3px;
}

.y-champion-container-second-stats ul li img{
    max-width: 14px;
    max-height: 14px;
    margin-left: 3px;
}

.span-font-size {
    font-size: 10px !important;
}

.y-champion-abilities-type ul {
    display: flex;
    grid-template-columns: repeat(5, 1fr); /* Primeira coluna automática, segunda coluna preenchendo o espaço restante */
    list-style: none;
    margin: 5px;
    padding-top: 4px;
    left: 0;
    border-radius: 5px;
    max-width: 260px;
    background-color: #292929;
}

.y-champion-abilities-type ul li {
    min-width: 40px;
    max-width: 40px;
    min-height: 30px;
    max-height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px !important;
    cursor: pointer;
}

.ability-info {
  display: none;
  min-width: 360px;
  min-height: 100px;
  padding: 5px;
  border-radius: 5px;
  align-items: flex-start;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: #292929;
}

.ability-info > div {
    display: none;
}

.ability-info > div.active {
    display: block;
}

.p-ability-info {
    display: block;
    width: 360px;
}

.p-ability-info-header {
    max-height: 30px;
    border: 1px solid white;
}

.p-ability-info-description {
    border: 1px solid white;
}